.food-display {
    margin-top: 30px;
}

.food-display h2 {
    font-size: max(2vw, 24px);
    font-weight: 600;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 30px;
    row-gap: 50px;
}

.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    align-items: center;
}

.loader p {
    font-size: large;
}